{% extends 'tracker/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/css/add_entry.css' %}">

<div class="container_entry">
    <h2 class="form-title">ADD INCOME / EXPENSE</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    
        {% if form.errors %}
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    
        <button type="submit">Save Entry</button>
    </form>
    
    <script>
        const entryTypeSelect = document.getElementById('id_entry_type');
        const categorySelect = document.getElementById('id_category');
    
        function toggleCategory() {
            if (entryTypeSelect.value === 'Income') {
                categorySelect.disabled = true;
                categorySelect.value = ''; // clear selection if any
            } else {
                categorySelect.disabled = false;
            }
        }
    
        // Run when page loads (for edit forms)
        toggleCategory();
    
        // Run when entry type changes
        entryTypeSelect.addEventListener('change', toggleCategory);
    </script>    
        
</div>
{% endblock %}
