{% load static %}

<div class="login-container">
  <form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <div class="register-link">
    <a href="{% url 'category_list' %}">Back to Categories</a>
  </div>
  
</div>
<div class="wallet-wrapper">
  <img src="{% static 'tracker/images/new_cat.png' %}" alt="Wallet Image" class="wallet-img">
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6f0f5;
    background: url('/static/tracker/images/log_in_bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: "Urbanist", sans-serif;
  }

  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: linear-gradient(to right, rgba(255, 114, 114, 0.6), rgba(85, 142, 255, 0.6),rgba(255, 255, 255, 0.6));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px rgba(0, 0, 50, 0.1);
    border-radius: 12px;
    font-family: "Urbanist", sans-serif;
    color: #ffffff;
    margin-bottom: 1em;
    transition: transform 0.4s ease;
    font-family: "Urbanist", sans-serif;

  }

  h2 {
    font-family: "Urbanist", sans-serif;
    font-weight:200;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form p {
    width: 100%;
    margin-bottom: 10px;
  }

  input {
    margin-top: 0.5em;
    width: 100%;
    padding: 8px;
    background-color: #ffffff;
    border: 10px #0D4AAC;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 14px;
    background-color: #0D4AAC;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  button:hover {
    background-color: #ffffff;
    color: #0D4AAC;
  }

  .register-link {
    text-align: center;
    margin-top: 1.5em;
    margin-left: 1em;
  }

  .register-link a {
    color: #003487;
    text-decoration: none;
  }

  .register-link a:hover {
    text-decoration: underline;
  }

  select {
    font-family: "Urbanist", sans-serif;
  margin-top: 0.5em;
  width: 100%;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  color: #333;
}

  .wallet-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.4s ease;
    z-index: 1;
    margin-bottom: 4.5em;
  }

  .wallet-img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(-5deg); }
    30% { transform: rotate(5deg); }
    45% { transform: rotate(-4deg); }
    60% { transform: rotate(4deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }

 
  .login-container:hover {
    transform: translateY(-150px);
  }

  
  /* Mobile and small tablets (up to 768px) */
  @media (max-width: 768px) {
  .rotated-card {
    width: 50%;
    height: 150px;
    padding: 1.5em;
    transform: rotate(0deg);
  }

  .moto {
    font-size: 24px;
  }

  .register-btn,
  .login-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .wallet-img {
    width: 100%;
  max-width: 400px;
  }



  .login-container {
    width: 100%;
  max-width: 300px;
    margin-bottom: -1em;
    bottom: 80px;
  }

  .wallet-wrapper {
    margin-bottom: 4em;
  }
}

/* Extra small devices (phones < 480px) */
@media (max-width: 480px) {
  .rotated-card {
    transform: rotate(0deg);
    padding: 1em;
  }

  .moto {
    font-size: 20px;
  }

  .buttons {
    flex-direction: column;
    gap: 0.75rem;
  }

  .register-btn,
  .login-btn {
    width: 100%;
    text-align: center;
  }

  .wallet-wrapper {
    margin-bottom: -10em;
  }

  .wallet-img {
    max-width: 100%;
  }
}
</style>
