{% extends 'tracker/base.html' %}
{% load static %}

{% block content %}
<h2>Dashboard</h2>

{% if exceeded_categories %}
    {% include 'tracker/includes/warning.html'%}
{% endif %}

<button type="button" class="btn btn-primary" style="margin-bottom: 20px;" data-bs-toggle="modal" data-bs-target="#addEntryModal"> + Add Entry for {{ month }}/{{ year }} </button>
<!-- Include Add Entry Modal -->
{% include 'tracker/modals/add_entry_modal.html' %}

<button type="button" class="btn btn-primary" style="margin-bottom: 20px;" data-bs-toggle="modal" data-bs-target="#setBudgetModal"> Set Budget </button>

{% include 'tracker/modals/set_budget_modal.html'%}
<!-- Include Filter Form -->
{% include 'tracker/includes/filters.html' %}

<!-- Include Summary -->
{% include 'tracker/includes/summary.html' %}

<!-- Include Charts -->
{% include 'tracker/includes/charts.html' %}

<h3>Entries for {{ today|date:"F Y" }}</h3>

<table border="1" cellpadding="5">
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Type</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ entry.date }}</td>
        <td><a href="{% url 'edit_entry' entry.id %}">{{ entry.title }}</a></td>
        <td>{{ entry.entry_type }}</td>
        <td>{{ entry.category.name }}</td>
        <td>₱{{ entry.amount }}</td>
        <td>
            <!-- Edit Button -->
            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editEntryModal{{ entry.id }}">
              Edit
            </button>

            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEntryModal{{ entry.id }}">
                Delete
            </button>
        </td>

    </tr>

    <!-- Include the Edit and Delete Modals for each entry -->
    {% include 'tracker/modals/edit_entry_modal.html' %}
    {% include 'tracker/modals/delete_entry_modal.html' %}

    {% empty %}
    <tr>
        <td colspan="5">No entries this month.</td>
    </tr>
    {% endfor %}
</table>

<!-- Export Button (CSV download) -->
<a href="{% url 'export_csv' %}" class="btn btn-secondary" style="margin-top: 20px;">Export as CSV</a>



<!-- Pass data to JavaScript using json_script -->
{{ category_names|json_script:"category_names" }}
{{ category_totals|json_script:"category_totals" }}
{{ income|json_script:"income" }}
{{ expense|json_script:"expense" }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'tracker/js/charts.js' %}"></script>

{% endblock %}
