<div class="chart-wrapper"  style="background-color: red; border: 5px solid black;">
    <div class="chart-container"  style="background-color: rgb(251, 173, 173); border: 5px solid black;">
        <div class="chart-title">
            <h3>Expense Breakdown by Category</h3>
        </div>
        <canvas class="chart" id="pieChart"></canvas>
    </div>
    <div class="chart-container"  style="background-color: rgb(0, 8, 255); border: 5px solid black;">
        <div class="chart-title">
            <h3>Monthly Income vs Expenses</h3>
        </div>
        <canvas class="chart" id="barChart"></canvas>
    </div>
</div>
