<style>
    .custom-warning {
        font-size: 14px;
        padding: 10px;
        background-color: #EC1824;
        color: #ffffff;
        border-color: #EC1824;
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
        
        border-radius: 6px;
    }

    .custom-warning ul {
        padding-left: 20px;
        margin-bottom: 0;
    }

    .custom-warning li {
        font-size: 13px;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 600px) {
        .custom-warning {
            font-size: 13px;
            padding: 8px;
        }

        .custom-warning li {
            font-size: 12px;
        }
    }
</style>


<div class="alert alert-warning custom-warning" role="alert">
    <strong>Warning!</strong> The following categories have exceeded the budget for {{ month }}/{{ year }}:
    <ul>
        {% for category in exceeded_categories %}
            <li>
                <strong>{{ category.category_name }}:</strong>
                Budget: ₱{{ category.budget }} | Total Expense: ₱{{ category.total_expense }}
            </li>
        {% endfor %}
    </ul>
</div>
